*.vdf -text
*.plist -text
*.sdf -text
*.suo -text
*.sln eol=crlf
*.vcproj eol=crlf
*.vcxproj eol=crlf
*.vcxproj.filters eol=crlf
*.vcxproj.user eol=crlf
*.loc -text
*.dat -text
*.lvl -text
*.opl -text
*.ops -text
*.ohh -text
*.ptr -text
*.wrl -text
*.amf -text
*.clr -text
*.otf -text
*.png binary
*.sh -text
*.glsl -text
*.wrs -text
*.vert -text
*.frag -text
*.json -text
*.xml -text
*.ipynb -text
